<div class="alerts">
  <form>
    <div class="form-group">
      <input type="email" class="form-control" id="phone_number" placeholder="Enter cell number">
    </div>
    <button type="submit" class="btn btn-default">Submit</button>
  </form>
</div>
