<div id="top"></div>
<div class="navbar navbar-fixed-top navbar-bold">
  <div class="container">
    <div class="navbar-header">
      <a href="#top" class="navbar-brand scroll">Street Sweep</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="#sec1">About</a></li>
      </ul>
      <div class="center">
      <ul class="nav navbar-nav">
        <li><a href="#down" id="submit" class="scroll">Submit</a></li>
      </ul>
      </div>
        <ul class="nav navbar-nav navbar-right">
      <% if current_user %>
          <li class="gravatar"><%= image_tag current_user.image_url, class: "img-square img-thumbnail home-image" %></li>
          <li id="logout"><%= link_to "Logout", logout_path, method: :delete %></li>
        <% else %>
          <li id="login"><p>Sign in</p></li>
          <li>
            <a href="/auth/twitter" class="btn btn-social-icon btn-sm btn-twitter pull-right">
            <i class="fa fa-twitter"></i>
          </a>
          </li>
      <% end %>
        </ul>
    </div>
  </div>
</div>

<section id="map-home">
  <%= render template: "dashboard/map" %>
</section>

<section id="schedule">
  <div id="down">
    <div id="dates"></div>
  </div>
</section>
