<nav class="navbar">
  <ul>
    <li><a href="//bourbon.io" class="bourbon">Bourbon</a></li>
    <li><a href="//neat.bourbon.io" class="neat">Neat</a></li>
    <li><a href="//bitters.bourbon.io" class="bitters current">Bitters</a></li>
    <li><a href="//refills.bourbon.io" class="refills">Refills</a></li>
  </ul>
  <h1>Maintained by the design team at <a href="//thoughtbot.com">thoughtbot</a></h1>
</nav>
