<div class="navbar navbar-fixed-top navbar-bold">
  <div class="container">
    <div class="navbar-header">
      <a href="#" class="navbar-brand">Home</a>
      <a class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
    </div>
    <div class="navbar-collapse collapse" id="navbar">
      <ul class="nav navbar-nav">
        <li><a href="#sec1">Section 1</a></li>
        <li><a href="#sec2">Section 2</a></li>
      </ul>
    </div>
  </div>
</div>

<section>
  <div class="header vert">
    <div class="container">

      <h1>Street Sweep</h1>
      <p class="lead">It's easy to forget about street sweeping. We can remind you.</p>
      <div>&nbsp;</div>
      <a href="#" class="btn btn-default btn-lg">Get Started</a>
    </div>
  </div>
</section>

<hr>


<div class="blurb">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h1>Kickstart Your Web Design</h1>
        <p class="lead">With this Responsive Bootstrap Template</p>
      </div>
    </div>
  </div>
</div>

<ul class="nav pull-right scroll-down">
  <li><a href="#" title="Scroll down"><i class="icon-chevron-down icon-3x"></i></a></li>
</ul>
<ul class="nav pull-right scroll-top">
  <li><a href="#" title="Scroll to top"><i class="icon-chevron-up icon-3x"></i></a></li>
</ul>
