<div class="dates">
  <% if !@schedules.nil? %>
    <h3>Your area's street sweeping schedule:</h3>
    <% @schedules.each do |schedule| %>
      Month:<%= schedule.month %>
    Days: <%= schedule.dates %>
<% end %>
<% end %>
</div>
