<div class="dates">
  <% if !@schedules.nil? %>
    <h3>Your area's street sweeping schedule:</h3>
    <% @schedules.each do |schedule| %>
      <ul class="dates">
        <%= schedule.print_month %>
        <%= schedule.print_days %><br>
      </ul>
    <% end %>
  <% end %>
</div>
