<div class="dates">
  <% if !@dates.nil? %>
    <h3>Your area's street sweeping schedule:</h3>
    <% @dates.each do |date| %>
      Month:<%= date.month %>
    Days: <%= date.dates %>
<% end %>
<% end %>
</div>
