  <%= select_tag :ward_id, options_for_select(ward_selector), { prompt: "Select your ward", class: "btn"} %>
  <br>
  <br>
  <div>
  <%= select_tag :section, nil, { prompt: "Select your section", style: "display: none", class: "btn" } %>
  </div>
