@import "variables";

.btn-block {
  width: 35%;
}

.gravatar {
  margin-right: 1em;
  height: 50px;
  width: 50px;
}

.form {
  width: 25%;
  color: white;
}

.btn {
  background-color: $secondary-color;
}

.fa {
  color: white;
}
