@import "variables";

.btn-block {
  width: 35%;
}

.gravatar {
  margin: 5px;
  height: 40px;
  width: 40px;
}

.form {
  width: 25%;
  color: white;
}

.btn {
  background-color: $secondary-color;
  margin: 8px;
}

.fa {
  /*color: white;*/
  /*margin-left: 1em;*/
  /*margin-top: 1em;*/
}
