@import "variables";

#map {
  position: absolute;
  top: 50px;
  bottom: 0;
  width: 100%;
}

/*.leaflet-right .leaflet-control {*/
/*position: relative;*/
/*margin-right: 200px;*/
/*}*/

.map-tooltip {
  background-color: $orange;
  content: "hey";
}
