<div class="flex-boxes">
  <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/placeholder_logo_2_dark.png" alt="">
  <h1 class="flex-title">Reminder by Email</h1>
</div>
